/*FAUSTINA*/
@font-face {
  font-family: "Faustina";
  src: url(../fonts/Faustina/Faustina-Regular.ttf);
}

@font-face {
  font-family: "Faustina-Bold";
  src: url(../fonts/Faustina/Faustina-Bold.ttf);
}

/*MONTSERRAT*/
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}

/*ONEST*/
@font-face {
  font-family: "Onest";
  src: url(../fonts/Onest/Onest-Regular.ttf);
}

@font-face {
  font-family: "Onest-Bold";
  src: url(../fonts/Onest/Onest-Bold.ttf);
}
