/*NAVIGATION*/
.bouton__nav {
  position: fixed;
  height: 20px;
  width: 20px;
  top: 10px;
  right: 10px;
}
.burger {
  filter: invert(100%);
}
.navigation,
#chk-burger {
  position: fixed;
  top: 30px;
  right: 0px;
  transform: translateX(200px);
  transition: transform 0.5s;
}
#chk-burger:checked ~ .navigation {
  display: block;
  transform: translateX(-10px);
}
a {
  text-decoration: none;
  color: rgb(0, 0, 133);
  text-decoration: underline;
  font-size: 14px;
}
/*boutons dans menu burger*/
.navigation a {
  display: block;
  width: 100px;
  line-height: 25px;
  padding-left: 5px;
  background-color: white;
  text-decoration: none;
  transition: transform 0.3s;
}

.navigation a:hover {
  transform: scale(1.1);
}

/*FORMULAIRE*/
.formulaire {
}

.formulaire__div {
  width: fit-content;
  padding: 20px;
}

.formulaire__label {
}

.formulaire__input {
}

/*TABLEAU*/
table {
  justify-self: center;
  width: 1000px;
  border: 2px rgb(0, 0, 93) solid;
  height: 700px;
  text-align: center;
  font-family: "Montserrat-Bold";
}

td,
th {
  border: 1px rgb(92, 0, 0) solid;
}

caption {
  font-size: 30px;
  font-family: "Montserrat-Bold";
  padding-bottom: 10px;
}

thead {
  height: 50px;
  background-color: rgb(19, 0, 218);
  color: rgb(255, 255, 255);
}

tbody tr:nth-of-type(odd) {
  background-color: white;
}

tbody tr:nth-of-type(even) {
  background-color: rgb(167, 191, 255);
}
